html {
  background-color: #222629;
  overflow: hidden; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font: white;
  background: transparent;
  color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 100%;
  color: white;
  text-align: center;
}

.above {
  top: 30%;
  font-size: 30px;
}

.title {
  font-size: 80px;
}

.subtitle {
  top: 60%;
  font-display: bold;
}


.navbar {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.item {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-size: 2em;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
